{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% static 'js/nav.js' %}"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

  <title>User Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
</head>

<body class="bg-black text-white font-sans">
  <box-icon name='arrow-back' size="42px" onclick="navtoPickUp()"></box-icon>

  <div class="px-4 py-8 flex justify-center items-center h-screen">
    <div class="max-w-md mx-auto bg-black border-2  border-yellow-500 box-shadow-yellow overflow-hidden w-2/3 md:w-1/2">
      <div class="relative">
        <img src="{% static 'images/p1.jpeg' %}" alt="User Image" class="w-full h-48 object-cover object-center">
        <div class="absolute inset-0 bg-black opacity-50"></div>
        <div class="absolute bottom-0 left-0 right-0 text-center">
          <p class="text-white font-bold text-lg">Jag</p>
        </div>
      </div>
      <div class="p-4">
        <div class="mb-4">
          <label class="block text-sm font-bold mb-2 text-yellow-500">Name:</label>
          <p class="text-lg">{{object.username}}</p>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-bold mb-2 text-yellow-500">Age:</label>
          <p class="text-lg">30</p>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-bold mb-2 text-yellow-500">E-mail:</label>
          <p class="text-lg">{{object.email}}</p>
        </div>
        <div>
          <label class="block text-sm font-bold mb-2 text-yellow-500">Experience:</label>
          <p class="text-lg">5 years</p>
        </div>
      </div>
    </div>
  </div>
  <style>
    /* Custom yellow box shadow with increased size and blur */
    .box-shadow-yellow {
      box-shadow: 0 5px 10px rgba(255, 255, 0, 0.5);
    }
  </style>
</body>

</html>