{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>

<body>
    <div class="container">
        <form class="f2" method="post">
            {%csrf_token%}
            <button><a href="{%url 'login'%}">&larr;</a></button>
            <h2>Sign Up</h2>
            <div class="b1">
                <label class="l1">User Name {{form.username}}</label>
                <i class='bx bxs-user'></i>
            </div>
            <div class="b2">
                <label>Email {{form.email}}</label>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="b2">
                <label>Password {{form.password1}}
                </label>
                <i class='bx bxs-lock'></i>
                <input type="checkbox" id="show-password" onclick="togglePassword()"> Show Password<br>
            </div>
            <div class="b2">
                <label>Confirm Password {{form.password2}}
                </label>
                <i class='bx bxs-lock'></i>
            </div>
            <div class="b4">
                Already a User ?<a href="{% url 'login' %}">Log In</a>
            </div>
            <div class="b4">
                <button class="btn">Sign Up</button>
            </div>
        </form>
        <script>
            function togglePassword() {
                var passwordFields = document.querySelectorAll('input[type="password"]');
                passwordFields.forEach(function (field) {
                    if (field.type === "password") {
                        field.type = "text";
                    } else {
                        field.type = "password";
                    }
                });
            }
        </script>
    </div>
</body>

</html>